@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 15, 15, 15;
    --background-end-rgb: 15, 15, 15;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:#0A0A0A
}
::-webkit-scrollbar {
  width: 10px;
}

/* Estilo para el thumb de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: #888; /* Cambia esto al color que prefieras */
  
}

/* Estilo para el track de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cambia esto al color que prefieras */
}

/* Estilo para la barra de desplazamiento en modo oscuro */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
      background: #555; /* Cambia esto al color que prefieras */
      border-radius: 20px;
  }

  ::-webkit-scrollbar-track {
      background: #333; /* Cambia esto al color que prefieras */
  }
}